utf-8

body {
background-color: #030303;
}

/*Header*/
header {
background-color: #1A1A1B;
overflow: auto;
width: 1980px;
height: 70px;
}

box-1 .logo {
width: 44px;
height: 44px;
padding-left: 8px;
padding-right: 10px;
padding-top: 15px;
padding-bottom: 10px;
}

box-2 .logo_wordmark {
padding-top: 15px;
padding-bottom: 10px;
padding-left: 8px;
padding-right: 10px;
}

.container {
width: 1920px;
height: 65px;
display: flex;
align-items: center;
}

.searchbar {
background-color: #272729;
border: solid #303132 2px;
border-radius: 30px;
display: flex;
align-items: center;
padding: 1px;
}

.searchbar img, .searchbar p {
margin-left: 10px;
margin-right: 15px;
padding-top: 5px;
padding-bottom: 2px;
padding-left: 8px;
padding-right: 10px;
display: inline-block;
font-size: 15px;
font-family: Verdana;
}

.Advet {
background-color: #272729;
border: solid #303132 2px;
border-radius: 30px;
display: flex;
align-items: center;
padding: 1px;
}

.Advet img, .Advet p {
margin-left: 15px;
margin-top: 5px;
margin-bottom: 5px;
margin-right: 1px;
align-items: center;
display: inline-block;
padding: 1px;
font-size: 25px;
font-family: Verdana;
}

p {
font-family: Verdana;
font-size: 15px;	
}

.stakecontainer {
text-align: hidden;
 }

.text {
font-size: 16px;
margin: 0;
padding: 0;
 }

.Karma {
width: 20px; 
height: auto;
margin: 0;
padding: 0;
}

/*Create*/

.Create {
position: absolute; 
margin-left: 400px; 
margin-right: 1000px; 
margin-top: 20px; 	
}

.Create-post {
left: 0px; 
top: 0px;
position: absolute;
background: #1A1A1B;
border-radius: 5px;
border: 2px #323334 solid;
}

.Create-post-2 {
left: 24px; 
top: 10px; 
position: absolute; 
background: #D8DBDD; 
border-radius: 18px;		
}

.Create-box {
left: 449px; 
top: 10px; 
position: absolute; 
background: #181819; 
border-radius: 18px; 
border: 1px #D8DBDD solid;
}

.Create-post-text {
left: 93px; 
top: 16px; 
position: absolute; 
text-align: center; 
color: black; 
font-size: 16px; 
font-family: Verdana; 
font-weight: 700; 
word-wrap: break-word
}

.Create-com {
left: 512px; 
top: 16px; 
position: absolute; 
text-align: center; 
color: #D8DBDD;
font-size: 16px;
font-family: Verdana; 
font-weight: 700; 
word-wrap: break-word
}

/*Profil*/

.part-of-profil {
position: absolute; 
margin-left: 400px; 
margin-right: 1000px; 
margin-top: 100px;
background-color: #1A1A1B;
border-radius: 5px;
border-color: #323334 solid 2px;
}

.Cir {
position: static;	
}

.container-2 {
display: flex;
align-items: center;
}

.Pop-Post {
margin-left: 5px;
margin-right: 7px;
margin-top: 7px;
margin-bottom: 7px;
}

.text-wrapper-7 {
width: 97px;
height: 33px;
text-align: left;
color: #656869;
font-size: 20px;
font-family: Verdana; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 5px;
}

.comments {
margin-left: 5px;
margin-right: 7px;
margin-top: 7px;
margin-bottom: 7px;
}

.text-wrapper-8 {
width: auto;
height: 33px;
text-align: left;
color: #656869;
font-size: 20px;
font-family: Verdana; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 5px;
margin-right: 20px;
}

.history {
margin-left: 5px;
margin-right: 20px;
margin-top: 7px;
margin-bottom: 7px;
}

.text-wrapper-9 {
width: auto;
height: 33px;
text-align: left;
color: #656869;
font-size: 20px;
font-family: Verdana; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 5px;
margin-right: 20px;
}

.saved {
margin-left: 5px;
margin-right: 7px;
margin-top: 7px;
margin-bottom: 7px;
}

.text-wrapper-10 {
width: auto;
height: 33px;
text-align: left;
color: #656869;
font-size: 20px;
font-family: Verdana; 
font-weight: 400; 
word-wrap: break-word;
margin-left: 5px;
margin-right: 20px;
}

/*Post*/

.contain-lap-6 {
width: 882px;
height: 172px;
display: flex;
align-items: center;
background: #1A1A1B;
border: solid #303132 2px;
border-radius: 5px; 
margin-left: 400px; 
margin-right: 1000px; 
margin-top: 180px;
}

.overlap-7 {
width: 35px;
height: 172px;
background: #161617;
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
}

.downvoting {
transform: rotate(180deg);
border-radius: 5px;
align-items: center;
margin-left: 5px;
}

.upvoting {
border-radius: 5px;
align-items: center;
margin-left: 5px;
}

.text-wrapper-11 {
text-align: center; 
color: white; 
font-size: 11px; 
font-family: Verdana; 
font-weight: 400; 
word-wrap: break-word;
margin-bottom: 5px;
}

.span-wrapper {
display: flex;
align-items: center;
    }

.R-Reddit,.posted-by {
color: #D7DADC;
font-size: 11px;
font-family: Verdana;
font-weight: 400;
word-wrap: break-word;
    }

.posted-by {
color: #818384;
margin-left: 10px;
    }

p {
height: 99px;
width: 828px;
color: white;
font-size: 16px;
font-family: Verdana;
font-weight: 400;
word-wrap: break-word
}






