utf-8

body {
background-color: #030303;
}

/*Header*/
header {
background-color: #1A1A1B;
overflow: auto;
width: 1980px;
height: 70px;
}

box-1 .logo {
width: 44px;
height: 44px;
padding-left: 8px;
padding-right: 10px;
padding-top: 15px;
padding-bottom: 10px;
}

box-2 .logo_wordmark {
padding-top: 15px;
padding-bottom: 10px;
padding-left: 8px;
padding-right: 10px;
}

.container {
display: flex;
align-items: center;
}

.searchbar {
background-color: #272729;
border: solid #303132 2px;
border-radius: 30px;
display: flex;
align-items: center;
padding: 1px;
}

.searchbar img, .searchbar p {
margin-left: 10px;
margin-right: 15px;
padding-top: 5px;
padding-bottom: 2px;
padding-left: 8px;
padding-right: 10px;
display: inline-block;
font-size: 15px;
font-family: Verdana;
}

.Advet {
background-color: #272729;
border: solid #303132 2px;
border-radius: 30px;
display: flex;
align-items: center;
padding: 1px;
}

.Advet img, .Advet p {
margin-left: 15px;
margin-top: 5px;
margin-bottom: 5px;
margin-right: 1px;
align-items: center;
display: inline-block;
padding: 1px;
font-size: 25px;
font-family: Verdana;
}

p {
font-family: Verdana;
font-size: 15px;	
}

.stakecontainer {
text-align: hidden;
 }

.text {
font-size: 16px;
margin: 0;
padding: 0;
 }

.Karma {
width: 20px; 
height: auto;
margin: 0;
padding: 0;
    }
