utf-8

body {
background-color: #030303;
}

/*Header*/
header {
background-color: #1A1A1B;
overflow: auto;
width: 1980px;
height: 70px;
}

box-1 .logo {
width: 44px;
height: 44px;
padding-left: 8px;
padding-right: 10px;
padding-top: 15px;
padding-bottom: 10px;
}

box-2 .logo_wordmark {
padding-top: 15px;
padding-bottom: 10px;
padding-left: 8px;
padding-right: 10px;
}

box-3 .search_box {
padding-right: 8px;
padding-bottom: 10px;
padding-left: 8px;
padding-top: 8px;
}

box-4 .search {
padding-left: 8px;
padding-bottom: 15px;
padding-right: 8px;
}

.box .prim {
  position: absolute;
  width: 40px;
  height: 35px;
  top: 16px;
  left: 1425px;
  object-fit: cover;
}


.box .adv {
  position: absolute;
  width: 39px;
  height: 35px;
  top: 0;
  left: 14px;
}

.box .text-wrapper-2 {
  position: absolute;
  width: 115px;
  height: 23px;
  top: 6px;
  left: 53px;
  font-family: "Verdana-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: normal;
  white-space: nowrap;
}

.box .overlap-2 {
position:absolute;
width: 53px;
height: 50px;
top: 8px;
left: 1682px;
}
.box .component {
position: absolute;
width: 222px;
height: 50px;
top: 0;
left: 0;
}

.box .overlap-group-2 {
  position: absolute;
  width: 53px;
  height: 50px;
  top: 0;
  left: 0;
}

.box .ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.box .img {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 33px;
left: 37;
}

.box .text-wrapper-3 {
position: absolute;
width: 162px;
height: 23px;
top: 0;
left: 3px;
font-family: "Verdana-regular", Helvetica;
font-weight: 400;
color: #656869;
font-size: 16px;
letter-spacing: 0;
line-height: normal;
}

.box .text-wrapper-4 {
position: absolute;
width: 96px;
height: 13px;
top: 22px;
left: 19px;
font-family: "Verdana-regular", Helvetica;
font-weight: 400;
color: #656869;
font-size: 11px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.box .karma {
position: absolute;
width: 20px;
height: 19px;
top: 26px;
left: 57px;
}

.box .group {
position: absolute;
width: 26px;
height: 14px;
top: 23px;
left:196px;
}

/*Creater*/
.box {
width: 882px;
height: 60px;
}

.box .create {
position: fixed;
width: 882px;
height: 60px;
top: 0;
left: 0;
}

.box .overlap-group {
position: relative;
width: 882px;
height: 60px;
}

.box .overlap {
position: absolute;
width: 412px;
height: 40px;
top: 10px;
left: 24px;
}

.box .text-wrapper {
position: absolute;
width: 288px;
height: 28;
top: 6px;
left: 69px;
font-family: "Verdana-Bold", Helvetica;
font-weight: 700;
color: #000000;
font-size: 16px;
text-align: center;
letter-spacing: 0;
line-height: normal;
}

.box .div-wrapper {
position: absolute;
width: 411px;
height: 40px;
top: 10px;
left: 449px;	
}

.box .div {
position: absolute;
width: 288px;
height: 28px;
top: 6px;
left: 63px;
font-family: "Verdana-bolt", Helventica;
font-weight: 700;
color: #d8dbdd;
font-size: 16px;
text-align: center;
letter-spacing: 0px;
line-height: normal;
}

/*Creat post*/

.box2 {
width: 882px;
height: 60px;
}

.box .rectangle2 {
position: fixed;
width: 882px;
height: 60px;
top: 0;
left: 0;
}

.box {
width: 412px;
height: 40px;
}

.box .rectangle3 {
position: fixed;
width: 412px;
height: 40px;
top: 0;
left: 0;
}











































